# .env файлы с кредами
**/.env

# Remote
.obsidian
articles
manuals
opencode

TODO.md
opencode.json

**/node_modules

# Build artifacts
**/dist/
.pio/

# IDE
.vscode/

# Python
__pycache__/
*.pyc

# OS
.DS_Store

# Разрешаем TODO.md в saspik-cluster
!saspik-cluster/saspik-cluster-app/TODO.md
